<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCTS</title>
    <link rel="stylesheet" href="/style/adminPages1.css">
    <link rel="stylesheet" href="/style/adminPages2.css">
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/asset/adminlog/adminLogo.png" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <a href="/admin/logout">
                        <button class="btn1">LOGOUT</button>
                    </a>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/admin/home'">DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'">USERS</li>
                    <li onclick="window.location.href='/admin/product'">PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'">CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupons'">COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'">ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'">BANNERS</li>
                    <li onclick="window.location.href='/admin/blockedUsers'">BLOCKED USERS</li>
                </ul>
            </div>
            <div class="content_part">

                <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
                    <div class="frame">
                        <div class="gap_div">
                            <div class="card_div">
                                <div class="form-group">
                                    <label for="productName">PRODUCT NAME</label>
                                    <input type="text" id="productName" name="productName" placeholder="Enter product name">
                                </div>
                
                                <div class="form-group">
                                    <label for="price">NEW PRICE</label>
                                    <input type="text" id="price" name="newPrice" placeholder="Enter New  price">
                                </div>
                
                                <div class="form-group">
                                    <label for="discount">OLD PRICE</label>
                                    <input type="text" id="discount" name="oldPrice" placeholder="Enter Old Price">
                                </div>
                
                                <div class="form-group">
                                    <label for="stock">CATEGORY</label>
                                    <input type="text" id="stock" name="category" placeholder="Enter Category">
                                </div>
                
                                <div class="form-group">
                                    <label for="category">SUB CATEGORY</label>
                                    <input type="text" id="stock" name="subCategory" placeholder="Enter Sub Category">
                                </div>
                                <div class="form-group">
                                    <label for="colour">Colour</label>
                                    <select name="colour" id="colour">
                                        <option value="" selected disabled>Select color</option>
                                        <option value="Red" style="color: #ff0000;">Red</option> 
                                        <option value="Blue" style="color: #0000ff;">Blue</option>
                                        <option value="Green" style="color: #00ff00;">Green</option>
                                        <option value="Black" style="color: #000000;">Black</option>
                                        <option value="Orange" style="color: #f98000;">Orange</option>
                                        <option value="Yellow" style="color: #ffea00;">Yellow</option>
                                        <option value="white" style="color:white;">White</option>
                                        <option value="gray" style="color:gray;">Grey</option>
                                        <option value="Brown" style="color: brown;">Brown</option>       
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="size">Size</label>
                                    <select name="size" id="">
                                        <option value="" selected disabled>Choose Size</option>
                                        <option value="XX-Small">XX-Small</option>
                                        <option value="X-Small">X-Small</option>                                          
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                        <option value="X-Large">X-Large</option>
                                        <option value="XX-Large">XX-Large</option>
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input type="text" id="quantity" name="quantity" placeholder="Enter quantity">
                                </div>
                
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" placeholder="Enter description"></textarea>
                                </div>
                                <div class="form-group">

                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                            <div class="img_div">      
                                <div class="form-group img_centr">
                                    <div class="image_space">
                                        <!-- Display selected images here -->
                                        <div id="preview"></div>
                                    </div>
                                    <div class="image_buttn">
                                        <!-- Choose multiple images -->
                                        <label for="productImage">More Images</label>
                                        <input type="file" id="productImage" name="productImages" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                         
            </div>
        </div>
    </div>
</body>
</html>