<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="/style/adminLogin.css">
</head>
<body>
    <div class="continer">
        <div class="box">
            <P class="p1">ADMIN LOGIN PAGE</P>
            <div class="form">
                <form action="/admin/login" method="post">
                    <label for="email">EMAIL ID</label><br><br>
                    <input type="email" name="email" class="emailid" id="username"><br><br>
                    <label for="password">PASSWORD</label><br><br>
                    <input type="password" name="password" class="pw" id="password"><br><br>  
                    <button type="submit" class="submit">LOGIN</button><br><br>
                    <p>don't have an account? <a href="/adminSignup">signup</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>