<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/style/otp.css">
</head>
<body>
    <div class="container">
        <h2>OTP Verification</h2>
        <form action="/user/otp/<%=otpData._id%>" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%=otpData.email%>" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" value="<%=otpData.phone%>" required>  
            </div>
            <div class="form-group">
                <label for="phone">Whatsapp Number:</label>
                <input type="tel" id="phone" name="whatsapp" value="<%=otpData.phone%>" required>  
            </div>
            <button type="submit">Send OTP</button>
        </form>
    </div>
</body>
</html>