<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATEGORY</title>
    <link rel="stylesheet" href="/style/adminPages1.css">
    <link rel="stylesheet" href="/style/adminPages2.css">
    <script src="https://kit.fontawesome.com/a550a1676b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/asset/adminlog/adminLogo.png" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/admin/home'">DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'">USERS</li>
                    <li onclick="window.location.href='/admin/product'">PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'">CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupons'">COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'">ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'">BANNERS</li>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Categories</p>
                    <button class="add_product_btn_admin"><a href="/admin/addCategory" style="color: white;">Add Category</a></button>
                </div>
                
                <div class="product_list">

                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Category ID</th>
                                    <th>Category Name</th>
                                    <th>Product Count</th>
                                    <th>Edit</th>                                       
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1466355DDGGDRFG34</td>
                                    <td>Category</td>
                                    <td>1200</td>
                                    <td>
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-trash"></i>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
</body>
</html>